<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.asara">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ASARA">
        <activity
            android:name=".TrackMyActiveCases"
            android:exported="false" />
        <activity
            android:name=".LocationSimulationActivity"
            android:exported="false" />
        <activity
            android:name=".MapImg3Activity"
            android:exported="false" />
        <activity
            android:name=".ActiveCasesFromOrgSignedInActivity"
            android:exported="false" />
        <activity
            android:name=".NearbyFailitiesAfterSendinPicActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".SendAllAnimalInfoAndReporteeInfo"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ReportedCasesActivity"
            android:exported="false" />
        <activity
            android:name=".MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".VolunteerSignedinActivity"
            android:exported="false" />
        <activity
            android:name=".OrgSignedInActivity"
            android:exported="true" />
        <activity
            android:name=".SendDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VolunteerRegistrationActivity" />
        <activity android:name=".VetRegistrationActivity" />
        <activity
            android:name=".LoginRegisterActivity"
            android:exported="true" />
        <activity android:name=".showNearestVetsMaps">

            <!-- Define intent filters if needed -->
        </activity>
        <activity android:name=".NearestVetFacilityActivity">

            <!-- Define intent filters if needed -->
        </activity>
        <activity android:name=".CaseDetailsActivity">

            <!-- Define intent filters if needed -->
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBwn6jwiNka-gFyOSGpVlz3FsaXPAbNXSs" />

        <activity
            android:name=".Login"
            android:exported="true" />
        <activity android:name=".Profile" />
        <activity android:name=".Register" />
    </application>

</manifest>